:root {
    --primary:#f2b366;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: rgba(190, 183, 171, 0.3);
    padding: 2ch;
}

.header--title {
    text-transform: uppercase;
    color: var(--primary);
    text-shadow: 2px 2px black;
    text-align: center;
   
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.menu--item {
    text-decoration: none;
    padding: 0.2rem;
    background-color: #3f2f21;
    color: var(--primary);
    border-radius: 14px;
    width: 150px;
    text-align: center;

}

.section-principal {
    background-image: url(gato\ bostezo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    border-radius: 1rem;
    margin-top: 15px;
}

.section-principal--titulo {
    color: white;
    display: inline-block;
    
}