:root {
    --primary:#f2b366;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: rgba(190, 183, 171, 0.3);
    padding: 2ch;
}
.header--logo{
    display: none;
}

.header--title {
    text-transform: uppercase;
    color: var(--primary);
    text-shadow: 2px 2px black;
    text-align: center;
   
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.menu--item {
    text-decoration: none;
    padding: 0.2rem;
    background-color: #3f2f21;
    color: var(--primary);
    border-radius: 14px;
    width: 150px;
    text-align: center;
    font-weight: 700;
}

.menu--item:hover {
    color: #3f2f21;
    background-color: #f2b366;
}

.principal {
        height: 50vh;
        background-image: url("gato\ bostezo.png");
        background-size: cover;
        color: white;
        font-size: clamp(
          1rem,
          5vw,
          3rem
        ); /* idealmente quiero el tamaño del texto un 5% del viewpoer, pero no disminuyas más de 2rem y nunca aumentes más de 4rem*/
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-shadow: 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        background-position: center 25%;
        background-repeat: no-repeat;
}


    


.equipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.equipo--titulo {
    text-align: center;
}

.equipo--card{
    background-image: url(fondo\ patas.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 gray;

}

.equipo--nombre, 
.equipo--rol {
    margin: 0;
}

.equipo--rol {
    color: white;
    background-color: rgba(0, 0, 0, 0.692);
    border-radius: 15px;
    padding: 2px 16px;
    font-weight: 700;
}

.foot {
    background-color: rgba(190, 183, 171, 0.3);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
    

.foot--link {
    text-decoration: none;
    color: burlywood;
}

#swipeup img {
    width: 40px;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
}
/* Version Tablet */


@media (min-width:598px) {
    .header--title {
        display: none;
    }
    
    .header--logo {
        display: inline-block;
        width: 100px;
    }

    .menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

    .header {
        display: flex;
    }
    
    .principal {
        background-image: url(img/sleepingCat.jpg);
    }
}
